<%- include("parts/header.ejs")%>
<%- include("parts/navbar.ejs")%>

<h2> Welcome back <%=username%> </h2>
<form action="/listing/<%=listing._id%>?_method=PUT" method="POST">
	<input type="text" value="<%=listing.title%>" name="listing[title]" maxlength="90"/> <br>
	<input type="text" value="<%=listing.desc%>" name="listing[desc]" maxlength="280"/><br>
	<input type="text" value="<%=listing.fullDesc%>" name="listing[fullDesc]" maxlength="2000"/><br>
	<input type="url" value="<%=listing.img%>" name="listing[img]"/><br>
	<input type="number" step=".01" value="<%=listing.price%>" min="0.1" name="listing[price]"/><br>
	<button type="submit" class="btn btn-success">
		Update listing
	</button>
</form>
<br>

<a class="btn btn-primary" href="/listing/">Back to Listing</a><br>
<a class="btn btn-danger" href="/logout">Logout</a><br>

<%- include("parts/footer.ejs")%>