<%- include("parts/header.ejs")%>

<div id="banner">
<h1> Henry's Crummy Emporium </h1>

<% if(authed === true){ %>
	<a href="/profile">My Profile</a><br>
	<a href="/logout">Logout</a><br>
<% } else { %> 
	<a href="/register"> Sign Up </a>
	<a href="/login"> Login </a>
<% } %>
	
</div>

<h2> Listings </h2>

<%listings.forEach(function(listing){%>

<div style='background-color: black; width: 25vw; margin:1vw; padding: 1vw'> 
	<div>
		<div style="text-align: center">
		<b><%=listing.title%> </b>
		</div>
		<div style="text-align: right">
		$<%=listing.price%>
		</div>
		<br>
		Description<br>
		<%=listing.desc%>
	</div>
	<br>
	<img src='<%=listing.img%>' width="auto" height="auto" margin="auto" display="block"> </img>
	<br>
</div>

<%})%>

<div style="color:red">
	<%=errorText %>
</div>

<%- include("parts/footer.ejs")%>