<%- include("parts/header.ejs")%>

<h1> Top Cats </h1>
<table>
<tr> 
	<th> Name </th>
	<th> Age </th>
	<th> Is Cat Girl </th> 
    <th> Controls </th>
</tr>
<%cats.forEach(function(cat){%>
<tr>
<th> <%=cat.name%> </th>
<th> <%=cat.age%> </th>
<th> <%=cat.isCatGirl%> </th>
<th> 
	<a href="/cats/<%=cat.name%>/edit">EDIT</a> 
	<form id="delete-form" action="/cats/<%=cat.name%>?_method=DELETE" method="POST">
		<button> DELETE </button>
	</form>
</tr>
<%})%>
</table>

<br>

<form action="/cats" method="POST">
	<input type="text" placeholder="Cat Name" name="catName"/>
	<input type="number" placeholder="Cat Age" name="catAge"/>
	<input type="checkbox" placeholder="Is Cat Girl?" name="catGirl"/>
	<button> Submit </button>
</form>




<%- include("parts/footer.ejs")%>